<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p align="left"> <a href="/">На главную</a>
<a href="/user/{{ request.user.username }}/activities/all/">На домашнюю страницу</a>
<a href="/users/{{ request.user.username }}/activities/create/">Добавить</a>
<a href="/users/{{ request.user.username }}/statistic/">Статистика</a>
<a href="/auth/logout/">Выйти</a>
</p>
{% block add %}{% endblock %}

{% for activity in activities  %}
<p>Название: {{ activity.activities_name }}</p>
<p>Тип : {{ activity.activities_type }}</p>
<p>Время начала: {{ activity.activities_start }}</p>
<p>Время конца: {{ activity.activities_end }}</p>
<p>Длительность: {{ activity.activities_duration }}</p>
    <hr>
{% endfor %}

{% block thanks %}{% endblock %}
 {% block statistic %}{% endblock %}
</body>
</html>